html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  display: flex;
}

p {
  padding: 20px;
}

@media screen and (max-width: 600px) {
  body {
    background-color: rgb(142, 214, 234);
    font-family: 'Courier New', Courier, monospace;
  }

  .container {
    flex-direction: column;
  }

  p {
    padding: 0 5px;
    line-height: 1.5em;
  }
}

@media screen and (min-width: 600px) {
  body {
    background-color: rgb(107, 212, 131);
  }

  .container {
    flex-wrap: wrap;
  }
}
